.btn{
    background-color:blue;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #fff;
    color: blue;
    border: 1px solid blue;
}
#head{
    font-size: 30px;
    font-weight: 600;
   
    transition: all 0.3s ease;
}
#love{
    margin: 0;padding: 0 20px 0 0;
}
